body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 100px;
}

.top-banner {
    display: flex;
    padding-top: 5%;
}

.half-width h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: .6;
}


.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 70%;
}

.half-width p {
    text-align: justify;
}

.orange-color {
    color: orange;
}

.order-food {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-size: medium;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 10px;
}

.middle-banner {
    background-image: url(images/shapes/7.png);
    display: flex;
    background-repeat: no-repeat;


}

.middle-half-width {
    width: 50%;
    padding-right: 10px;
}

.middle-half-width img {
    width: 50%;
}

.middle-half-width h1 {
    padding-top: 100px;
}

.contact-me {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-size: medium;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 10px;


}

.middle-half-width p {
    text-align: justify;
    padding-right: 60px;
    padding-bottom: 50px;
}

.recipies {
    text-align: center;
}

.recipies p {
    padding-left: 300px;
    padding-right: 300px;
}

.bottom-container {
    display: flex;
    padding-left: 10px;


}

.bottom-half-width {

    padding-left: 60px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;

    box-shadow: 10px 10px 40px gray;

}

.bottom-half-width p {
    padding-right: 60px;
}

.bottom-image {
    padding-top: 40px;
    display: block;

    margin-right: auto;
    width: 90%;
}

.last-banner {
    display: flex;
    text-align: center;
    padding-left: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    margin-left: 6%;

    box-shadow: 10px 10px 40px gray;
}



.b {
    padding-left: 20%;
}

.c {
    padding-left: 20%;
}

footer {
    background-color: rgb(9, 7, 36);
    text-align: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 10px;
}

.eat-fresh {
    color: tomato;
}